// $color-border: #CDCDCD;
// $color-label: darken($color-border, 20%);
// $color-primary: #1695A3;

// .field {
//   display: block;
//   margin-bottom: 0.5rem;
// }

// label {
//   display: block;
//   font-size: 0.8rem;
//   line-height: 1.4rem;
//   font-weight: 600;
//   color: $color-label;
// }

// input {
//   appearance: none;
//   border: 1px solid $color-border;
//   font-size: 1rem;
//   padding: 0.5rem;
  
//   &:focus {
//     outline: 2px solid $color-primary;
//   }
// }

// button {
//   appearance: none;
//   padding: 1rem 2rem;
//   text-transform: uppercase;
//   font-size: 0.8rem;
//   background: $color-primary;
//   color: white;
//   border: none;
//   border-radius: 3px;
//   margin: 0.5rem 0;
  
//   &:hover {
//     opacity: 0.8;
//   }
// }

// @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.panelBody {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.basicElement {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.panelBody input, .panelBody .input {
  @extend .basicElement
}

.panelBody button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.panelBody button:hover,.panelBody button:active,.panelBody button:focus {
  background: #43A047;
}


.register-form {
  display: none
}
